# --- GENERAL CONFIG ---
TIMEZONE=America/Argentina/Buenos_Aires
PUID=1000
PGID=100

# --- NETWORK & DOMAINS ---
# Tu dominio de Tailscale (ej: raspberry-pc.tail123.ts.net)
TS_DOMAIN=tu-dispositivo.tailscale.net
# IP interna de Tailscale de la Pi
TS_IP=100.x.y.z
# Hosts permitidos para Pi-hole (formato JSON)
PIHOLE_TRUSTED_HOSTS='["raspberry-pc", "tu-dispositivo.tailscale.net"]'

# --- STORAGE PATHS ---
# Ruta base de tus discos externos (ej: /srv/dev-disk-by-uuid-xxx)
NAS_ROOT_PATH=/ruta/a/tu/disco/nas
OBSIDIAN_PATH=/ruta/a/tu/disco/nas/Obsidianvault
IMMICH_UPLOAD_LOCATION=/ruta/a/tu/disco/nas/immich_data
IMMICH_DB_LOCATION=/ruta/a/tu/disco/nas/immich_db

# --- SECRETS & PASSWORDS ---
# Token de admin para Vaultwarden (Generalo con 'openssl rand -base64 48')
VAULTWARDEN_ADMIN_TOKEN=tu_token_seguro_aca
# Credenciales para la DB de Immich
IMMICH_DB_PASSWORD=password_db_immich
IMMICH_DB_USER=immich_user
IMMICH_DB_NAME=immich
# Versión de Immich
IMMICH_VERSION=release

HOMEPAGE_VAR_OPENWEATHER_KEY=tu_clave_aca
HOMEPAGE_VAR_WEATHERAPI_KEY=tu_clave_aca
HOMEPAGE_VAR_TS_DOMAIN=raspberry-pc.tailxxxx.ts.net

# --- BACKUP SCRIPT CONFIG ---
USER_NAME=ncserver
NAS_ROOT_PATH=/ruta/al/disco/principal/
BACKUP_DEST_PATH=/ruta/al/disco/backup/
LOG_PATH=/ruta/al/log/backup.log
VAULTWARDEN_DATA_PATH=/ruta/al/disco/principal/Docker_Config/gateway/vaultwarden
