# --- GENERAL CONFIG ---
TIMEZONE=
PUID=1000
PGID=100

# --- NETWORK & DOMAINS ---
TS_DOMAIN=
TS_IP=
PIHOLE_TRUSTED_HOSTS='["", ""]'

# --- STORAGE PATHS ---
SYNCTHING_PATH=
IMMICH_UPLOAD_LOCATION=
IMMICH_DB_LOCATION=

# --- SECRETS & PASSWORDS ---
VAULTWARDEN_ADMIN_TOKEN=
IMMICH_DB_PASSWORD=
IMMICH_DB_USER=immich_user
IMMICH_DB_NAME=immich
IMMICH_VERSION=release

HOMEPAGE_VAR_OPENWEATHER_KEY=
HOMEPAGE_VAR_WEATHERAPI_KEY=
HOMEPAGE_VAR_TS_DOMAIN=

# --- BACKUP SCRIPT CONFIG ---
USER_NAME=
NAS_ROOT_PATH=
BACKUP_DEST_PATH=
LOG_PATH=
VAULTWARDEN_DATA_PATH=
